@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
:root{
    --primary-color: red;
    --light-gray: #E5E7EB;
}

body{
    font-family: 'Raleway', sans-serif;
    margin: 0rem;
}

.hr{
    margin: 2rem 0rem;
}

.Skills {
    padding-left: 2rem;
    padding-right: 2rem;
}

.Hobbies  {
    padding-left: 2rem;
    padding-right: 2rem;
}

/** spaces **/

.margin-md{
    margin: 2rem;
}

/** container **/


.container {
    padding: 0rem 1rem;
}

.container .container-center{
    max-width: 600px;
    margin: auto;
}

.Link {
    box-sizing: border-box;
    padding-left: 2rem;
    padding-right: 2rem;
    text-decoration: none;
    color: white;
    margin-top: 5rem;
}

.primarylink {
    background-color: #FCD34D;
    text-decoration: none;
    border-radius: 0.5rem;
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
    text-align: center;

}

.secondarylink {
    background-color: #FCD34D;
    text-decoration: none;
    border-radius: 0.5rem;
    color: white;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 0.5rem;
   
}

.List-non-bullet{
    list-style: none;
}

.Listitem {
    display: inline;
    padding: 1rem 2rem 3rem;
}


/**navigation**/

.Navigation {
    background-color: #FCD34D;
    padding: 1rem;  
    border-bottom-left-radius: 1rem; 
}

.Navigation .container{
    padding: 0rem 1rem;
}

.Navigation .Nav-brand {
    font-weight: bold;
}

.Navigation .Nav-pills{
    text-align: right;
}

.Navigation .Link{
    color:white;
}

.Navigation .Link-active{
    font-weight: bold;
}


/**header**/

.grocery{
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;
}

.grocery .grocery-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.grocery .grocery-heading{
    text-align: center;
    padding-top: 1rem;
    color: black;
    font-size: x-large;
}

.grocery .grocery-heading .Heading-inverted{
    color: #FCD34D ;
} 

.section h2 {
    text-align: center;
    padding: 2rem;
    
}

.ow {
    background-color: var(--light-gray);
}

/** footer **/

.Footer {
    background-color: #FCD34D;
    padding-top: 2rem;
    text-align: center;
    color:white ;
    border-top-right-radius: 1rem;
}

.Footer.Footer-header{
    color: white;
    font-weight: bold;
    font-size: large;
}

.Social-links{
    color: white;
}

